<div class="jumbo">
  <h2>Horario doctor</h2>
  <br>
  <br>
  {{input value=model.init placeholder="hora entrada" class="form-control"}}
  <br>
  {{input value=model.end placeholder="hora salida" class="form-control"}}
  <br>
  <button class="btn btn-success" {{action "fijarHorario"}}>Guardar</button>
</div>
