<div class="container">
  <div class="jumbotron">
    <h1>Hospital</h1> 
    
  {{#link-to 'pacients' class="btn btn-success"}}Ver Pacientes {{/link-to}}
  {{#link-to 'doctors' class="btn btn-success"}}Ver Doctores {{/link-to}}
  
    </div>
</div>
{{outlet}}
