<div class="container">
  <div class="jumbotron">
    <h1>Hospital</h1> 
    
      {{#link-to 'pacients' class="btn btn-success"}}Ver Lista de Pacientes (1){{/link-to}}
      <br>
      <br>
      {{#link-to 'doctors' class="btn btn-success"}}Ver Lista de Doctores (2){{/link-to}}
      <br>
      <br>
      {{#link-to 'consultation-list' class="btn btn-success"}}Ver Histórico de todas las consultas consultas (9){{/link-to}}
      <br>
      <br>
      <button {{action 'goToConsultationsByDate'}} class="btn btn-success">Ver Histórico de consultas por fecha (9)</button>
      <select type="select" onchange={{action 'updateYear' value="target.value"}} >
        <option value="2017">2017</option>
        <option value="2016">2016</option>
      </select>
      <select type="select" onchange={{action 'updateMonth' value="target.value"}} >
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
      </select>
      <br>
      <br>
      {{#link-to 'month-resume' class="btn btn-success"}}Ver Histórico de médicos (10){{/link-to}}
      <br>
      <br>
    </div>
</div>
{{outlet}}
